*{
    color:Black;
}

.bg{
    background:url("../Images/log.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
   
}
.form-container{
    border:0px solid #fff;
    padding:50px 60px;
    margin-top:20vh;
    
    background-color:#E1BEE1;
    
    -webkit-box-shadow: 1px 4px 26px 11px rgba(240,14,37,1);
    -moz-box-shadow: 1px 4px 26px 11px rgba(240,14,37,1);
    box-shadow: 1px 4px 5px 5px #aaa;
    
}

